{% extends 'base.html' %}

{% block title -%}
  Product #{{ product.id }}
{%- endblock %}

{% block body %}
  <h1>Product <code id="product-name">{{ product.name }}</code>
    {% if product.is_new == True %}
    <span class="badge badge-secondary">New</span>
    {% endif %}
  </h1>
  <hr>
  <a href="{{ url_for('product_app.product_list') }}">Product list</a>

  <hr>
{#  Admin area #}
  <div>
    <button id="delete-product" class="btn btn-danger btn-lg">Delete</button>
  </div>
{% endblock %}

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#staticBackdrop">
  Launch static backdrop modal
</button>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Understood</button>
      </div>
    </div>
  </div>
</div>


{% block after_body %}
  <script>
  $(function() {
    const name = $('#product-name')
    console.log(name.text())

    $('#delete-product').click(function () {
      $.ajax({
        method: 'DELETE',
        success: function (res) {
          console.log(res)
          console.log(res.data)
        },
        error: function (err) {
          console.error(err)
        },
        complete: function () {
          window.location = '{{ url_for('product_app.product_list') }}'
        },
      })
    })
  });
  </script>
{% endblock %}
